Project_2.json
{
  "name": "Project 2",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apptgArWEsw1iO7ai",
          "mode": "list",
          "cachedResultName": "IT Project Management",
          "cachedResultUrl": "https://airtable.com/apptgArWEsw1iO7ai"
        },
        "table": {
          "__rl": true,
          "value": "tblFrrQ001zpnnAoh",
          "mode": "list",
          "cachedResultName": "Condition",
          "cachedResultUrl": "https://airtable.com/apptgArWEsw1iO7ai/tblFrrQ001zpnnAoh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Profession": "={{ $json.Profession }}",
            "Looks": "={{ $json.Looks }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Ai Manager",
                  "value": "Ai Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        20,
        -80
      ],
      "id": "8aeb141a-f146-49bb-bff2-e0acbbda93f4",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "LeD0j24nOMrExuOd",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "My Team",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Looks"
            },
            {
              "fieldLabel": "Profession",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Video Editor"
                  },
                  {
                    "option": "Graphic Designer"
                  },
                  {
                    "option": "Ai Manager"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -280,
        -80
      ],
      "id": "68ea26f4-4f78-4cfa-9616-2653ac155ba6",
      "name": "On form submission",
      "webhookId": "7e3e1479-8430-4aa2-aa3e-fd8e09727cdb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I want you to act like a best poem creator and create a two line poem based on details given below. \nThe poem should  be only two lines and not more than that. \n\nI want you to include these things in the poem \n\nName:  {{ $json.fields.Name }}\nLooks:{{ $json.fields.Looks }}\nProfesion: {{ $json.fields.Profession }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        980,
        -180
      ],
      "id": "32a6cea5-d13d-42b5-a725-ebaa758817cc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1020,
        40
      ],
      "id": "154278a8-b385-4f56-84b2-df2829d37d8c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "d4eSWg8veb58kGXt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apptgArWEsw1iO7ai",
          "mode": "list",
          "cachedResultName": "IT Project Management",
          "cachedResultUrl": "https://airtable.com/apptgArWEsw1iO7ai"
        },
        "table": {
          "__rl": true,
          "value": "tblFrrQ001zpnnAoh",
          "mode": "list",
          "cachedResultName": "Condition",
          "cachedResultUrl": "https://airtable.com/apptgArWEsw1iO7ai/tblFrrQ001zpnnAoh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Poem": "={{ $json.output }}",
            "id": "={{ $('Airtable').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Ai Manager",
                  "value": "Ai Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Poem",
              "displayName": "Poem",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1340,
        -180
      ],
      "id": "e6a076bf-3a71-497a-b813-7d87612548fa",
      "name": "Airtable4",
      "credentials": {
        "airtableTokenApi": {
          "id": "LeD0j24nOMrExuOd",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "Video Editor",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "28661095-c476-4b70-91e9-5fe9b629c809"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e43fb41-68ab-49c0-99c6-ca9918e0cac4",
                    "leftValue": "={{ $('On form submission').item.json.Profession }}",
                    "rightValue": "Graphic Designer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa44f561-6484-4184-8797-7c9221424c5b",
                    "leftValue": "={{ $('On form submission').item.json.Profession }}",
                    "rightValue": "Ai Manager",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        280,
        -80
      ],
      "id": "a674ae5e-5a5a-42fa-8fa1-ebc96b2036fb",
      "name": "Pathways"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apptgArWEsw1iO7ai",
          "mode": "list",
          "cachedResultName": "IT Project Management",
          "cachedResultUrl": "https://airtable.com/apptgArWEsw1iO7ai"
        },
        "table": {
          "__rl": true,
          "value": "tblFrrQ001zpnnAoh",
          "mode": "list",
          "cachedResultName": "Condition",
          "cachedResultUrl": "https://airtable.com/apptgArWEsw1iO7ai/tblFrrQ001zpnnAoh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable').item.json.id }}",
            "Rating": 3
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Ai Manager",
                  "value": "Ai Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        620,
        -40
      ],
      "id": "848ca2a8-1584-4d5b-98f2-4a0179f87218",
      "name": "Graphic Design Rating",
      "credentials": {
        "airtableTokenApi": {
          "id": "LeD0j24nOMrExuOd",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apptgArWEsw1iO7ai",
          "mode": "list",
          "cachedResultName": "IT Project Management",
          "cachedResultUrl": "https://airtable.com/apptgArWEsw1iO7ai"
        },
        "table": {
          "__rl": true,
          "value": "tblFrrQ001zpnnAoh",
          "mode": "list",
          "cachedResultName": "Condition",
          "cachedResultUrl": "https://airtable.com/apptgArWEsw1iO7ai/tblFrrQ001zpnnAoh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable').item.json.id }}",
            "Rating": 5
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Ai Manager",
                  "value": "Ai Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        620,
        -280
      ],
      "id": "891a4c45-60dc-40bb-9f0c-5b602374eecf",
      "name": "Video Editor Rating",
      "credentials": {
        "airtableTokenApi": {
          "id": "LeD0j24nOMrExuOd",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apptgArWEsw1iO7ai",
          "mode": "list",
          "cachedResultName": "IT Project Management",
          "cachedResultUrl": "https://airtable.com/apptgArWEsw1iO7ai"
        },
        "table": {
          "__rl": true,
          "value": "tblFrrQ001zpnnAoh",
          "mode": "list",
          "cachedResultName": "Condition",
          "cachedResultUrl": "https://airtable.com/apptgArWEsw1iO7ai/tblFrrQ001zpnnAoh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable').item.json.id }}",
            "Rating": 1
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Ai Manager",
                  "value": "Ai Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        620,
        180
      ],
      "id": "8a6396ab-f535-464e-bdf6-b07860948f73",
      "name": "AI Manager rating",
      "credentials": {
        "airtableTokenApi": {
          "id": "LeD0j24nOMrExuOd",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Airtable": {
      "main": [
        [
          {
            "node": "Pathways",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Airtable4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pathways": {
      "main": [
        [
          {
            "node": "Video Editor Rating",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Graphic Design Rating",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Manager rating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Graphic Design Rating": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Editor Rating": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Manager rating": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8b91458-525d-4db7-a37e-b74fe10e7a6d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5dba86ca9d209aa7648e61edcbcb84f29d89b694ea0e79fb266d9a4c15642aba"
  },
  "id": "Q5O5coOUUMA982Gt",
  "tags": []
}